/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

html {
  height: 100vh;
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-text-color);
  font-family: var(--font-inter), Arial, sans-serif;
  background-color: var(--main-background-color);
  background-image: var(--background-image-page);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  padding-top: 100px;
  padding-bottom: 98px;
}

.header__cover {
  display: grid;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 100vw, 696px);
  border: 2px solid var(--main-text-color);
  padding-top: clamp(120px, 25vw, 136px);
  padding-bottom: 25px;
  font-family: "Press Start 2P";
  font-weight: var(--font-weight-main-text);
  background-color: var(--main-background-color);
}

.main-title {
  padding-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.sub-title {
  justify-self: center;
  padding-bottom: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  justify-self: center;
  font-size: 14px;
}

.theme-menu__list {
  display: grid;
  justify-items: end;
  gap: 14px;
  width: 140px;
  padding-inline-end: 17px;
}

.theme-menu__item {
  display: grid;
  justify-items: end;
  width: 100%;
}

.theme-menu__item:nth-child(1) {
  padding-right: 14px;
}

.theme-menu__item:nth-child(2) {
  padding-right: 28px;
}

.theme-menu__item:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button {
  border: none;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--main-text-color);
  transform: scale(0);
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s ease;
  transform: scale(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  animation: arrow 0.5s ease-in-out infinite;
}

.card {
  padding-bottom: 50px;
  color: var(--main-text-color);
  font-family: "Inter";
}

@media (width>375px) {
  .card {
    padding-bottom: 55px;
  }
}

.card:last-child {
  padding-bottom: 0;
}

.section__title {
  border: 2px solid var(--main-text-color);
  padding: 4px 10px;
  font-weight: var(--font-weight-title-text);
  font-size: 18px;
  background-color: var(--main-background-color);
  font-variation-settings: "wght" var(--font-weight-title-text);
}

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(320px, 100vw, 696px);
  background-position: right;
  background-size: cover;
  aspect-ratio: 1/1;
}

.image {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  padding-right: clamp(10px, 0.4vw, 25px);
  opacity: 0.5;
  color: var(--main-text-color);
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px var(--main-background-color);
  mix-blend-mode: hard-light;
}

.bright {
  background-image: url(../images/car.png);
  filter: brightness(200%);
}

.contrast {
  background-image: url(../images/photo_2024-01-18_21-46-22.jpg);
  filter: contrast(200%);
}

.blur {
  background-image: url(../images/photo_2024-01-18_19-39-58.jpg);
  filter: blur(0.1);
}

.opacity {
  background-image: url(../images/photo_2023-11-30_09-39-00.jpg);
  filter: opacity(0.3);
}

.grayscale {
  background-image: url(../images/photo_2024-01-18_19-33-53.jpg);
  background-position: center;
  filter: grayscale(0.8);
}

.saturate {
  background-image: url(../images/photo_2024-01-18_19-32-10.jpg);
  background-position: center;
  filter: saturate(158%);
}

.hue-rotate {
  background-image: url(../images/photo_2024-01-18_19-30-13.jpg);
  filter: hue-rotate(-90deg);
}

.sepia {
  background-image: url(../images/photo_2024-01-18_22-08-26.jpg);
  background-position: center;
  filter: sepia(80%);
}
@media (width<375px) {
  .hue-rotate + .article {
    padding: 25px 31px 25px 25px;
  }
}

.hue-rotate .image,
.saturate .image,
.grayscale .image {
  text-transform: lowercase;
}

.sepia .image {
  text-transform: lowercase;
  mix-blend-mode: difference;
}

@media (width>375px) {
  .image {
    padding-right: 25px;
  }
}

@supports (
  (text-stroke: 1px var(--main-background-color)) or
    (-webkit-text-stroke: 1px var(--main-background-color))
) {
  .image {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-background-color);
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: clamp(300px, 100vw, 696px);
  border: 1px solid var(--main-text-color);
  padding: 25px 28px 25px 25px;
  font-weight: var(--font-weight-main-text);
  font-size: 18px;
  font-style: normal;
  background-color: var(--main-background-color);
}

@media (width>375px) {
  .article {
    padding: 25px 23px 25px 25px;
  }
}

.article .article__text:nth-child(1) {
  padding-block-end: 27px;
}

.article .article__text:nth-child(2) {
  width: 100%;
  padding-block-end: 25px;
}

.buttons {
  display: flex;
  justify-items: center;
}

button {
  background: none;
}

.card__icon-button {
  display: flex;
  justify-content: start;
  align-items: center;
  border: transparent;
  padding-inline-end: 7px;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: none;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-family: "Press Start 2P";
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  border-color: var(--main-text-color);
  overflow: hidden;
  cursor: pointer;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -2px;
  display: block;
  width: 130px;
  height: 35px;
  background-color: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
  transform-origin: left;
}

.card__like-button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: translate(0);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 100vw, 696px);
  padding: 45px 0px clamp(102px, 102px, 106px) 0px;
  font-weight: var(--font-weight-main-text);
  font-size: 18px;
}

.card__footer-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(306px, 70vw, 335px);
  border-color: var(--main-text-color);
  padding: 15px 18px;
  overflow: hidden;
  background-color: var(--main-background-color);
}

@media (width>375px) {
  .card__footer-button {
    padding: 15px 20px;
  }
}

.card__footer-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}
.card__footer-button::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -2px;
  display: block;
  width: 335px;
  height: 85px;
  background-color: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
  transform-origin: left;
}

.card__footer-button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: translate(0);
}

.card__footer-button .button__text {
  padding-block-start: 8px;
}

.floppy {
  position: relative;
  z-index: 1;
  width: 28px;
  height: 28px;
  mix-blend-mode: difference;
}

@media (width >375px) {
  .card__footer-button {
    flex-direction: row;
    padding: 15px 15px 15px 20px;
  }
}

@media (width >375px) {
  .floppy {
    width: 21px;
    height: 21px;
  }
}

@media (width >375px) {
  .card__footer-button::after {
    width: 335px;
    height: 59px;
  }
}

@media (width >375px) {
  .card__footer-button .button__text {
    padding-inline-start: 8px;
    padding-block-start: 0px;
  }
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-text-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--main-text-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
  transform-origin: center center;
  animation: like 0.3s ease-in 1 reverse 0.1s;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
  transform-origin: center center;
  animation: like 0.3s ease-in 1 reverse 0.1s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s linear 0.06s;
  transform-origin: center center;
  animation: like 0.3s ease-in 1 reverse 0.1s;
}

.like-icon.is-liked .sparks {
  opacity: 0;
  fill: #ff0000;
  animation: sparks 0.3s ease-in 1 reverse 0.3s;
}

dialog {
  position: fixed;
  inset: 0;
  border-width: 1px;
  background-color: var(--main-background-color);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 357px;
  min-inline-size: 341px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog__button {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  align-items: center;
  width: clamp(257px, 100vh, 293px);
  border-color: var(--main-text-color);
  padding: 15px 20px;
  overflow: hidden;
  text-transform: uppercase;
}

.dialog__button::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -2px;
  display: block;
  width: clamp(257px, 100vh, 293px);
  height: 43px;
  background-color: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
  transform-origin: left;
}

.dialog__button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: translate(0);
}

.dialog__button:focus-visible {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

dialog:is([open]) {
  display: grid;
  grid-template-columns: 39px clamp(198px, 50vh, 234px);
  grid-template-rows: 63px 1fr;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  border: var(--main-text-color) 2px solid;
}

.dialog_text {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  align-items: center;
  width: clamp(198px, 50vh, 200px);
  height: 63px;
  line-height: 150%;
  text-transform: uppercase;
}

.footer-icon {
  width: 39px;
  aspect-ratio: 1/1;
}

.footer__floppy {
  position: relative;
  z-index: 1;
  width: 39px;
  height: 39px;
  mix-blend-mode: difference;
}

@keyframes like {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    margin-inline-end: 0px;
  }
  50% {
    margin-inline-end: 4px;
  }
  100% {
    margin-inline-end: 0px;
  }
}

/*theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки*/
